# Ignore build files
obj
*.js
*.d.ts
*.js.map
*.tgz
package-version

# Except imported Declarations and browser js SDK
!/Declarations/**

# Ignore Node files
node_modules/**

# Ignore Visual Studio Code files
.settings/**

# Ignore Visual Studio files
*.suo
*.sln
*.dat

# Ignore webstorm files
.idea

# Ignore OS X files
*.DS_Store

# Ignore log files
npm-debug.log
