# Ignore build files
out/
obj/
*.tgz

# Except imported Declarations and Typings
!/Declarations/**

# Ignore Node files
node_modules/**
test/backCompatibility/oldTSC/node_modules/**
test/backCompatibility/node10Types/node_modules/**
test/functionalTests/runner/node_modules/**
test/functionalTests/testApp/node_modules/**
test/functionalTests/runner/package-lock.json
test/functionalTests/testApp/package-lock.json

# Ignore Visual Studio files
*.suo
*.sln
*.dat
*.njsproj
.vscode/

# Ignore webstorm files
.idea
*.iml

# Ignore OS X files
*.DS_Store

# Ignore log files
npm-debug.log
undefined/temp/appInsights-node/applicationinsights.log


.nyc_output/*
test/certs/server-key.pem
# Ignore folder created during test runs
undefined/*
node_modules
dist-esmexample_uri_fix.js
