# Ignore build files
obj
*.js
*.js.map
*.d.ts
*.tgz
package-version

# Except install.js, server.js and typings
!install.js
!server.js
!Scripts/typings/node/node.d.ts

# Ignore Node files
node_modules/**

# Ignore Visual Studio files
*.suo
*.sln
*.dat