# Ignore built files
obj
*.tgz

# Ignore Visual Studio files
*.suo
*.sln
*.njsproj
.vscode/
.github

.nyc_output

# Ignore test files
tests

# Don't publish source files that aren't needed in package
*.ts
!*.d.ts
!*.js.map
.travis.yml
.ntvs_analysis.dat


/declarations

Schema

typings
tsconfig.json
typings.json
