language: node_js
node_js:
  - "node"
  - "5"
  - "5.1"
  - "4"
  - "4.2"
  - "4.1"
  - "4.0"
  - "0.12"
  - "0.11"
  - "0.10"
  - "iojs"
  - "iojs-v1.0.4" 
before_install:
  - npm install -g npm
before_script:
  - npm install