name: Node.js CI

on:
  push:
    branches: [ 2.x ]

jobs:
  build:

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [8, 10, 12, 14, 16, 17, 18]

    steps:
    - uses: actions/checkout@v2
    - name: (${{ matrix.os }}) on Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install
    - run: npm run build --if-present
    - run: if [[ ${{ matrix.node-version }} == 14 ]]; then npm run lint; fi;
    - run: npm test
